@font-face {
    font-family: 'Borsok';
    src: url(fonts/borsok-font/boorsok.ttf);
}

body {
    font-family: "Borsok";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

.map-rotations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.map-rotation {
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Additional styles for the header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

h2 {
    color: rgba(60, 255, 0, 0.747);
    text-align: center;
    margin: 1px;
    padding: 1px;
    font-weight: 100;
    font-size: 1.3rem;
}

h4 {
    margin: 0;
    font-size: 1.2em;
    color: white;
    font-weight: 100;
}

#signInBtn {
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#signInBtn:hover {
    background-color: #45a049;
}

/* Additional styles for the map container */
.map-container {
    position: relative;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.0);
    margin-bottom: 0px;
}

.map-container h2 {
    color: white;
    text-align: center;
}

.map-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.map-overlay {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: normal;
    color: #ffffffca;
    width: 100%;
    -webkit-text-stroke: 0.7px #000000;
    text-stroke: 5px #000000;
    padding: 15px;
}

.countdown {
    font-size: 1.8em;
    margin-top: 10px;
    color: #ff0505 !important;
    font-weight: normal;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.257);
    padding: 5px;
}

/* Media query for mobile view */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        padding: 0;
    }

    #signInBtn {
        margin-right: 0;
        margin-top: 10px;
    }

    .map-container {
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(51, 51, 51, 0.0);
        margin-bottom: 0px;
    }

    .map-rotation {
        padding-bottom: 0rem;
        padding-top: 0rem;
        justify-content: space-evenly;
}

    }
    /* Adjust the countdown position to fit the extended height */
    .countdown {
        bottom: 1px; /* Set the desired distance from the bottom */
    }
}

