body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

/* Additional styles for the header */
header {
    background-color: #333;
    color: white;
    padding: 15px; /* Added padding around the entire header */
    width: 100%; /* Make the header full width */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; /* Make the container full width */
}

h4 {
    margin: 0;
    font-size: 1.2em;
    color: white; /* Set the site title color to pure white */
}

#signInBtn {
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#signInBtn:hover {
    background-color: #45a049;
}

/* Additional styles for the map container */
#map-container {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.0);
}

#map-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#map-overlay {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    color: #ffffff;
    width: 100%;
}

#countdown {
    font-size: 1.5em;
    margin-top: 10px;
    color: #ff0505d7;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Media query for mobile view */
@media (max-width: 767px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .container {
        padding: 0 15px; /* Added padding around the content inside the header */
    }

    #signInBtn {
        margin-right: 45px; /* Move the button more to the left */
    }
}
