@font-face {
    font-family: 'Boorsok';
    src: url(fonts/borsok-font/boorsok.ttf);
}


body {
    font-family: "Boorsok";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

/* Additional styles for the header */
header {
    background-color: #333;
    color: white;
    padding: 15px; /* Added padding around the entire header */
    width: 100%; /* Make the header full width */
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; /* Make the container full width */
    padding: 20px; /* Added padding around the center content */
    
}

h2 {
    font-family: "Boorsok";
    color: rgba(60, 255, 0, 0.747);
    text-align: center;
    margin: 1px; /* Add margin for even spacing */
    padding: 1px; /* Add padding for even spacing */
    font-weight: 100;
    font-size: 1.3rem;
}

h4 {
    font-family: "Boorsok";
    margin: 0;
    font-size: 1.2em;
    color: white; /* Set the site title color to pure white */
    font-weight: 100;
}

#signInBtn {
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#signInBtn:hover {
    background-color: #45a049;
}

/* Additional styles for the map container */
.map-container {
    position: relative;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.0);
    margin-bottom: 0px; /* Added margin between map containers */
}

.map-container h2 {
    color: white;
    text-align: center;
}

.map-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.map-overlay {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffffca;
    width: 100%;
    -webkit-text-stroke: 0.7px #000000; /* Webkit-based browsers like Chrome and Safari */
    text-stroke: 5px #000000; /* Standard property */
    padding: 15px; /* Add padding for better visibility */
}

.countdown {
    font-size: 1.8em;
    margin-top: 10px;
    color: #ff0505 !important;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid transparent; /* Transparent border */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    background-color: rgba(0, 0, 0, 0.257); /* White background */
    padding: 5px; /* Optional: Add padding for better appearance */
}

/* Media query for mobile view */
@media (max-width: 767px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    body {
    font-family: "Borsok";
    padding-bottom: 5px;
    
}


    .container {
        padding: 0 15px; /* Added padding around the content inside the header */
    }

    #signInBtn {
        margin-right: 45px; /* Move the button more to the left */
    }
}

